<!DOCTYPE html>
<html>
    <head>
        <style>
         
            /* We are stopping user from
            printing our webpage */
            @media print {
     
                html,
                body {
     
                    /* Hide the whole page */
                    display: none;
                }
            }
        </style>
        
<!--         <script>
<!--             alert("Do not take screenshot of this page"); -->
<!--         </script> --> 
    </head>
    
    <body bgcolor=#d4a3ae>

    <center>

        <h1> <b><font color="red"><u>Registered Marriage Reception Invitation</u></font></b> </h1>
        <h2> <b><font color="blue"><i>Requesting everyone to hear the audio first before reading our Invitation.</i></font></b> </h2>
        <audio controls autoplay loop>
            <source src="static\source.mp3" type="audio/mp3">
       </audio>

        <div class="row">
<!--             <img src='static\dandupalyam1.jpg' alt="Jagadesh" style="width:20%"> -->
<!--             <img src='static\dandupalyam2.jpg' alt="manjusha" style="width:20%"> -->
            <img src='static\automerge.jpg' alt="manju" style="width:20%">
        </div>


        <h2>            
<font color="blue">Jagadesh @Pandu </font>  <font color="red">Boy Friend </font> 
<br> 
<font color="blue">Weds </font>
<br>
<font color="blue">Manjusha @Radhika</font>  
<br>
<br>
<font color="blue">Registered Married on August 21'2022 </font>  
<br>
<br>
 <font color="blue">Reception Invitation on December 25'2022</font> 
        <br>
        <br>
        <font color="red"> Invite for all </font>

        <marquee behavior="scroll" direction="right">Radhika Loves Pandu!</marquee>
        <br>
        <marquee behavior="scroll" direction="left">Pandu Loves Radhika!</marquee>

        <br>
        <br>
        </h2>
        <h3>
                                By <br>
                        Anonymous Group  
        </h3>
    
<!-- <head>
    <meta charset="UTF-8">
    <title>Say Hello</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head> -->

    <!-- <img src="https://raw.githubusercontent.com/MariyaSha/SimpleGreetingApp/main/logo.png"> -->
    <!-- <br> -->
    <!-- <form action="greet" method="post">
        {% for message in get_flashed_messages() %}
             <p>{{ message }}</p>
         {% endfor %}
        <br>
        
        <br>
        <input type="submit" value="GREET" id="greet">
    </form> --> 
    </center>
</body>
</html>
