<!DOCTYPE html>
<html>
    <head>
        <style>
         
            /* We are stopping user from
            printing our webpage */
            @media print {
     
                html,
                body {
     
                    /* Hide the whole page */
                    display: none;
                }
            }
            
        </style>

<!--         <script>
<!--             alert("Do not take screenshot of this page"); -->
<!--         </script> -->
    </head>
    
    <div style="background-image:url('static\bajji.jpg');background-repeat:no-repeat"></div>

    <body bgcolor=#d4a3ae>
<!--     <body background="static\bajji.jpg"> -->
    <center>

        <h1> <b><font color="red"><u>Our Invitation</u></font></b> </h1>
        <h2> <b><font color="red"><i>Requesting everyone to hear the audio first before reading our Invitation.</i></font></b> </h2>
        <audio controls autoplay loop>
            <source src="static\source.mp3" type="audio/mp3">
       </audio>

        <div class="row">
<!--             <img src='static\dandupalyam1.jpg' alt="Jagadesh" style="width:20%"> -->
<!--             <img src='static\dandupalyam2.jpg' alt="manjusha" style="width:20%"> -->
            <img src='static\automerge.jpg' alt="manju" style="width:20%">
        </div>


        <h2>            
<font color="red">Jagadesh @Pandu </font>  <font color="red">(Boy Friend)</font> 
<br> 
<font color="red">Weds </font>
<br>
<font color="red">Manjusha @Radhika</font>  
<br>
<br>
<font color="red">Unofficially Registered Married on August 20'2022 </font>  
<br>
<br>
 <font color="red">Formal official Wedding & Reception Invitation on December 14'2022</font> 
        <br>
        <br>
        <font color="red"> Invite for all </font>

        <marquee behavior="scroll" direction="right">Radhika Loves Pandu!</marquee>
        <br>
        <marquee behavior="scroll" direction="left">Pandu Loves Radhika!</marquee>
        <br>
        <br>
        <marquee behavior="scroll" direction="right">We will soon let out our Couple Images and Videos soon. Thank you all for supporting us throughout our Journey </marquee>

        <br>
        <br>
        </h2>
        <h3>
                                By <br>
                        Anonymous Group  
        </h3>
    </center>
</body>
</html>
